@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');
@import "libs/mixins.scss";
@import "libs/media.scss";

body {
  font-size: 16px;
  overflow: hidden;
  font-family: "Ubuntu", sans-serif;
}

$bgPages: url(../img/bgPages.jpg);
$bgCard: rgba(193, 220, 243, 0.904);

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  /*Faire disparaître les petites flèches des champs number*/
  -webkit-appearance: none;
  margin: 0;
}

.bouttonMenuDeroulant {
  display: none;
}

/*-------------------------------HEADER-------------------------------------*/
ul {
  list-style: none;
}

.active {
  color: rgb(14, 167, 255);
}

a {
  text-decoration: none;
  color: aliceblue;
}

header {
  position: fixed;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 6rem;
  width: 100%;
  top: 0;
  left: 0;
  background: rgba(24, 52, 75, 0.582);
  z-index: 2;

  .nomSite {
    font-size: 1.5rem;
    color: rgb(114, 219, 223);
    font-family: "Ubuntu", sans-serif;
    display: flex;

    img {
      height: 50px;
      width: 50px;
      margin-right: 1rem;
      line-height: none;
    }
  }


  .menu {
    display: flex;
    justify-content: space-around;
    align-items: center;

    li {
      padding: 2.4rem;

      a {
        font-size: 1.8rem;
        font-family: "Roboto", sans-serif;
        font-weight: 400;
        transition: 0.5s;
        position: relative;

        &::after {
          content: "";
          background: rgb(255, 102, 0);
          width: 0%;
          height: 3px;
          position: absolute;
          left: 0;
          bottom: -3px;
          transition: 0.4s;
        }

        &:hover::after {
          width: 100%;
        }
      }
    }
  }
}

.outer-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

::-webkit-scrollbar {
  display: none;
}

.inner-container {
  display: flex;
  flex-wrap: nowrap;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.pages-container {
  display: flex;
  overflow-x: scroll;
  position: relative;
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
}

.page {
  padding-top: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  flex-shrink: 0;
  width: 100vw;
  height: 115vh;
  scroll-snap-align: center;

  .augmentation {
    display: flex;
    flex-direction: column;
    align-items: center;

    button#btnAugm {
      @include styleBtnCalc;
    }

    .inputAugmentation {
      width: 700px;
      height: 50px;
      display: flex;
      justify-content: space-around;

      input {
        font-size: 1.8rem;
        color: rgb(61, 59, 59);
        width: 310px;
        text-align: center;
        padding: 5px 8px;
        border: none;
        border-radius: 10px;
      }
    }

    span {
      margin: 0% 0 50px 0;
      display: block;
      text-align: center;
      font-size: 4rem;
      font-weight: 700;
    }

    p {
      align-self: flex-start;
      margin-top: 70px;
      font-weight: bold;
      font-size: 2rem;

      input {
        background: rgba(255, 255, 255, 0.616);
        font-size: 1.8rem;
        color: rgb(15, 15, 15);
        width: 310px;
        text-align: center;
        padding: 5px 8px;
        border: none;
        border-radius: 10px;
      }
    }
  }

  .baisse {
    display: flex;
    flex-direction: column;
    align-items: center;

    button#btnBaisse {
      @include styleBtnCalc
    }

    margin-top: 30px;

    .inputBaisse {
      width: 700px;
      height: 50px;
      display: flex;
      justify-content: space-around;

      input {
        font-size: 1.8rem;
        color: rgb(61, 59, 59);
        width: 310px;
        text-align: center;
        padding: 5px 8px;
        border: none;
        border-radius: 10px;
      }
    }

    span {
      margin: 7% 0 50px 0;
      display: block;
      text-align: center;
      font-size: 4rem;
      font-weight: 700;
    }

    p {
      align-self: flex-start;
      margin-top: 70px;
      font-weight: bold;
      font-size: 2rem;

      input {
        background: rgba(255, 255, 255, 0.616);
        font-size: 1.8rem;
        color: rgb(61, 59, 59);
        width: 310px;
        text-align: center;
        padding: 5px 8px;
        border: none;
        border-radius: 10px;
      }
    }
  }

}

.augm-baisse {
  background: $bgPages;

  .card {
    margin-top: 3%;
    padding: 3rem 4rem 3rem 4rem;
    border: 1px solid transparent;
    border-radius: 20px;
    box-shadow: 0px 0px 25px rgb(0, 0, 0);
    background: $bgCard;
  }

  hr {
    margin: 60px 0 0 0;
  }
}

.variation {
  background: $bgPages;

  p.titre {
    margin-top: 7%;
    font-weight: bolder;
    font-size: 2rem;
    text-align: center;
    margin-bottom: 130px;
    line-height: 2.7rem;
    letter-spacing: 0.07rem;
  }

  p {
    font-weight: 500;
    font-size: 1.8rem;
    text-align: center;
    margin-top: 130px;
  }

  .card {
    display: flex;
    flex-direction: column;
    align-items: center;

    button#btnVariation {
      @include styleBtnCalc
    }

    width: 45%;
    height: 80%;
    margin-top: 3%;
    padding: 3rem 5rem 5rem 5rem;
    border: 1px solid transparent;
    border-radius: 20px;
    box-shadow: 0px 0px 25px rgb(0, 0, 0);
    background: $bgCard;
  }

  .inputs {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  input {
    font-size: 1.8rem;
    color: rgb(61, 59, 59);
    width: 310px;
    text-align: center;
    padding: 5px 8px;
    border: none;
    border-radius: 10px;
  }
}

.pourcEnNb {
  background: $bgPages;

  p.titre {
    margin-top: 7%;
    font-weight: 700;
    font-size: 2rem;
    text-align: center;
    margin-bottom: 130px;
    line-height: 2.7rem;
    letter-spacing: 0.07rem;
  }

  p.phraseResultatPourcEnNb {
    font-weight: 500;
    font-size: 1.8rem;
    text-align: center;
    margin-top: 130px;

    input {
      text-align: center;
      width: 100px;
      background: rgba(0, 0, 0, 0);
    }
  }

  .card {
    display: flex;
    flex-direction: column;
    align-items: center;

    button#btnPourcEnNb {
      @include styleBtnCalc
    }

    width: 45%;
    height: 80%;
    margin-top: 3%;
    padding: 3rem 5rem 5rem 5rem;
    border: 1px solid transparent;
    border-radius: 20px;
    box-shadow: 0px 0px 25px rgb(0, 0, 0);
    background: $bgCard;
  }

  .inputs {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  input {
    font-size: 1.8rem;
    color: rgb(15, 15, 15);
    width: 310px;
    text-align: center;
    padding: 5px 8px;
    border: none;
    border-radius: 10px;
  }
}

.nbEnPourc {
  background: $bgPages;

  p.titre {
    margin-top: 7%;
    font-weight: 700;
    font-size: 2rem;
    text-align: center;
    margin-bottom: 130px;
    line-height: 2.7rem;
    letter-spacing: 0.07rem;
  }

  p.phraseResultatNbEnPourc {
    font-weight: 500;
    font-size: 1.8rem;
    text-align: center;
    margin-top: 130px;
    width: auto;
  }

  .card {
    display: flex;
    flex-direction: column;
    align-items: center;

    button#btnNbEnPourc {
      @include styleBtnCalc
    }

    width: 45%;
    height: 80%;
    margin-top: 3%;
    padding: 3rem 5rem 5rem 5rem;
    border: 1px solid transparent;
    border-radius: 20px;
    box-shadow: 0px 0px 25px rgb(0, 0, 0);
    background: $bgCard;
  }

  .inputs {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  input {
    font-size: 1.8rem;
    color: rgb(61, 59, 59);
    width: 310px;
    text-align: center;
    padding: 5px 8px;
    border: none;
    border-radius: 10px;
  }
}

/* ------------------------------Media queries----------------------- */
@media all and (max-width: 1800px) {
  .inputs {
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 15%;
  }

  .augm-baisse {
    .card {
      width: 750px;
    }
  }

  header {
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
    width: 390px;
    z-index: 2;

    .menu {
      flex-direction: column;
      margin-bottom: 3rem;

      li {
        margin-top: 3rem;
      }
    }
  }

  .inner-container {
    padding-top: 0;
  }

  .card {
    position: absolute;
    margin-left: 29%;
    top: 1rem;
  }

  .nomSite {
    border-bottom: 3px solid rgb(255, 102, 0);
    padding-bottom: 5px;
  }

  .variation,
  .pourcEnNb,
  .nbEnPourc {
    .card {
      width: 700px;
      height: 850px;
    }
  }
}

/* @media all and (max-width: 1250px) {

  .bouttonMenuDeroulant {
    display: inline;

    img {
      position: absolute;
      top: 5px;
      left: 5px;
      width: 70px;
      height: 70px;
      z-index: 5;
      cursor: pointer;
    }
  }

  .card {
    position: absolute;
    top: 3%;
    margin-left: 5%;
  }
} */