@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap");
body {
  font-size: 16px;
  overflow: hidden;
  font-family: "Ubuntu", sans-serif;
}

*,
::after,
::before {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/*-------------------------------HEADER-------------------------------------*/
ul {
  list-style: none;
}

.active {
  color: #0ea7ff;
}

a {
  text-decoration: none;
  color: aliceblue;
}

header {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 6rem;
  width: 100%;
  top: 0;
  left: 0;
  background: #18344b;
}

header .nomSite {
  font-size: 1.5rem;
  color: #72dbdf;
  font-family: "Ubuntu", sans-serif;
}

header::before {
  content: url(../img/percentageIcon.svg);
  height: 60px;
  width: 60px;
  margin-left: 2rem;
  line-height: none;
}

header .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .menu li {
  padding: 2.4rem;
}

header .menu li a {
  font-size: 1.8rem;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  position: relative;
}

header .menu li a::after {
  content: "";
  background: #ff6600;
  width: 0%;
  height: 3px;
  position: absolute;
  left: 0;
  bottom: -3px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

header .menu li a:hover::after {
  width: 100%;
}

.outer-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
  width: 100%;
}

::-webkit-scrollbar {
  display: none;
}

.inner-container {
  padding-top: 6rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.pages-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow-x: scroll;
  position: relative;
  scroll-behavior: smooth;
  -ms-scroll-snap-type: x mandatory;
      scroll-snap-type: x mandatory;
}

.page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: 100vw;
  height: 115vh;
  scroll-snap-align: center;
}

.page .augmentation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.page .augmentation button#btnAugm {
  background: #ff6600;
  color: #d4f3f7;
  font-size: 1.3rem;
  font-weight: 700;
  width: auto;
  height: auto;
  padding: 15px 30px;
  margin-top: 7%;
  border-radius: 30px;
  border: 3px solid rgba(95, 93, 93, 0.452);
  cursor: pointer;
}

.page .augmentation .inputAugmentation {
  width: 700px;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.page .augmentation .inputAugmentation input {
  font-size: 1.8rem;
  color: #3d3b3b;
  width: 310px;
  text-align: center;
  padding: 5px 8px;
  border: none;
  border-radius: 10px;
}

.page .augmentation span {
  margin: 0% 0 50px 0;
  display: block;
  text-align: center;
  font-size: 4rem;
  font-weight: 700;
}

.page .augmentation p {
  -ms-flex-item-align: start;
      align-self: flex-start;
  margin-top: 70px;
  font-weight: bold;
  font-size: 2rem;
}

.page .augmentation p input {
  background: rgba(255, 255, 255, 0.616);
  font-size: 1.8rem;
  color: #0f0f0f;
  width: 310px;
  text-align: center;
  padding: 5px 8px;
  border: none;
  border-radius: 10px;
}

.page .baisse {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 30px;
}

.page .baisse button#btnBaisse {
  background: #ff6600;
  color: #d4f3f7;
  font-size: 1.3rem;
  font-weight: 700;
  width: auto;
  height: auto;
  padding: 15px 30px;
  margin-top: 7%;
  border-radius: 30px;
  border: 3px solid rgba(95, 93, 93, 0.452);
  cursor: pointer;
}

.page .baisse .inputBaisse {
  width: 700px;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.page .baisse .inputBaisse input {
  font-size: 1.8rem;
  color: #3d3b3b;
  width: 310px;
  text-align: center;
  padding: 5px 8px;
  border: none;
  border-radius: 10px;
}

.page .baisse span {
  margin: 7% 0 50px 0;
  display: block;
  text-align: center;
  font-size: 4rem;
  font-weight: 700;
}

.page .baisse p {
  -ms-flex-item-align: start;
      align-self: flex-start;
  margin-top: 70px;
  font-weight: bold;
  font-size: 2rem;
}

.page .baisse p input {
  background: rgba(255, 255, 255, 0.616);
  font-size: 1.8rem;
  color: #3d3b3b;
  width: 310px;
  text-align: center;
  padding: 5px 8px;
  border: none;
  border-radius: 10px;
}

.augm-baisse {
  background: radial-gradient(#4faebb, #034079);
}

.augm-baisse .bordures {
  margin-top: 1%;
  padding: 3rem 5rem 5rem 5rem;
  border: 1px solid transparent;
  border-radius: 20px;
  -webkit-box-shadow: 0px 0px 25px black;
          box-shadow: 0px 0px 25px black;
  background: #c1dcf3;
}

.augm-baisse hr {
  margin: 60px 0 0 0;
}

.variation {
  background: radial-gradient(#4faebb, #034079);
}

.variation p.titre {
  margin-top: 7%;
  font-weight: bolder;
  font-size: 2rem;
  text-align: center;
  margin-bottom: 130px;
  line-height: 2.7rem;
  letter-spacing: 0.07rem;
}

.variation p {
  font-weight: 500;
  font-size: 1.8rem;
  text-align: center;
  margin-top: 130px;
}

.variation .bordures {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 45%;
  height: 80%;
  margin-top: 3%;
  padding: 3rem 5rem 5rem 5rem;
  border: 1px solid transparent;
  border-radius: 20px;
  -webkit-box-shadow: 0px 0px 25px black;
          box-shadow: 0px 0px 25px black;
  background: #c1dcf3;
}

.variation .bordures button#btnVariation {
  background: #ff6600;
  color: #d4f3f7;
  font-size: 1.3rem;
  font-weight: 700;
  width: auto;
  height: auto;
  padding: 15px 30px;
  margin-top: 7%;
  border-radius: 30px;
  border: 3px solid rgba(95, 93, 93, 0.452);
  cursor: pointer;
}

.variation .inputs {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.variation input {
  font-size: 1.8rem;
  color: #3d3b3b;
  width: 310px;
  text-align: center;
  padding: 5px 8px;
  border: none;
  border-radius: 10px;
}

.pourcEnNb {
  background: radial-gradient(#4faebb, #034079);
}

.pourcEnNb p.titre {
  margin-top: 7%;
  font-weight: 700;
  font-size: 2rem;
  text-align: center;
  margin-bottom: 130px;
  line-height: 2.7rem;
  letter-spacing: 0.07rem;
}

.pourcEnNb p.phraseResultatPourcEnNb {
  font-weight: 500;
  font-size: 1.8rem;
  text-align: center;
  margin-top: 130px;
}

.pourcEnNb p.phraseResultatPourcEnNb input {
  text-align: center;
  width: 100px;
  background: rgba(0, 0, 0, 0);
}

.pourcEnNb .bordures {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 45%;
  height: 80%;
  margin-top: 3%;
  padding: 3rem 5rem 5rem 5rem;
  border: 1px solid transparent;
  border-radius: 20px;
  -webkit-box-shadow: 0px 0px 25px black;
          box-shadow: 0px 0px 25px black;
  background: #c1dcf3;
}

.pourcEnNb .bordures button#btnPourcEnNb {
  background: #ff6600;
  color: #d4f3f7;
  font-size: 1.3rem;
  font-weight: 700;
  width: auto;
  height: auto;
  padding: 15px 30px;
  margin-top: 7%;
  border-radius: 30px;
  border: 3px solid rgba(95, 93, 93, 0.452);
  cursor: pointer;
}

.pourcEnNb .inputs {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.pourcEnNb input {
  font-size: 1.8rem;
  color: #0f0f0f;
  width: 310px;
  text-align: center;
  padding: 5px 8px;
  border: none;
  border-radius: 10px;
}

.nbEnPourc {
  background: radial-gradient(#4faebb, #034079);
}

.nbEnPourc p.titre {
  margin-top: 7%;
  font-weight: 700;
  font-size: 2rem;
  text-align: center;
  margin-bottom: 130px;
  line-height: 2.7rem;
  letter-spacing: 0.07rem;
}

.nbEnPourc p.phraseResultatNbEnPourc {
  font-weight: 500;
  font-size: 1.8rem;
  text-align: center;
  margin-top: 130px;
}

.nbEnPourc p.phraseResultatNbEnPourc input {
  width: 150px;
  background: rgba(0, 0, 0, 0);
}

.nbEnPourc .bordures {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 45%;
  height: 80%;
  margin-top: 3%;
  padding: 3rem 5rem 5rem 5rem;
  border: 1px solid transparent;
  border-radius: 20px;
  -webkit-box-shadow: 0px 0px 25px black;
          box-shadow: 0px 0px 25px black;
  background: #c1dcf3;
}

.nbEnPourc .bordures button#btnNbEnPourc {
  background: #ff6600;
  color: #d4f3f7;
  font-size: 1.3rem;
  font-weight: 700;
  width: auto;
  height: auto;
  padding: 15px 30px;
  margin-top: 7%;
  border-radius: 30px;
  border: 3px solid rgba(95, 93, 93, 0.452);
  cursor: pointer;
}

.nbEnPourc .inputs {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.nbEnPourc input {
  font-size: 1.8rem;
  color: #3d3b3b;
  width: 310px;
  text-align: center;
  padding: 5px 8px;
  border: none;
  border-radius: 10px;
}
/*# sourceMappingURL=style.css.map */