@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');
@import "libs/mixins.scss";
body{
    font-size: 16px;
    overflow: hidden;
    font-family: "Ubuntu", sans-serif;
}
$bgPages: radial-gradient(rgb(79, 174, 187),rgb(3, 64, 121));
*,
::after,
::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/*-------------------------------HEADER-------------------------------------*/
ul {
  list-style: none;
}

.active {
  color: rgb(14, 167, 255);
}

a {
  text-decoration: none;
  color: aliceblue;
}

header {
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 6rem;
  width: 100%;
  top: 0;
  left: 0;
  background: rgb(24, 52, 75);

  .nomSite {
    font-size: 1.5rem;
    color: rgb(114, 219, 223);
    font-family: "Ubuntu", sans-serif;
  }
  &::before {
    content: url(../img/percentageIcon.svg);
    height: 60px;
    width: 60px;
    margin-left: 2rem;
    line-height: none;
  }
  .menu {
    display: flex;
    justify-content: space-around;
    align-items: center;

    li {
      padding: 2.4rem;
      a {
        font-size: 1.8rem;
        font-family: "Roboto", sans-serif;
        font-weight: 400;
        transition: 0.5s;
        position: relative;
        &::after {
          content: "";
          background: rgb(255, 102, 0);
          width: 0%;
          height: 3px;
          position: absolute;
          left: 0;
          bottom: -3px;
          transition: 0.4s;
        }
        &:hover::after {
          width: 100%;
        }
      }
    }
  }
}

.outer-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}
::-webkit-scrollbar {
  display: none;
}
.inner-container {
  padding-top: 6rem;
  display: flex;
  flex-wrap: nowrap;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.pages-container {
  display: flex;
  overflow-x: scroll;
  position: relative;
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
}
.page {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  flex-shrink: 0;
  width: 100vw;
  height: 115vh;
  scroll-snap-align: center;
  .augmentation{
    display: flex;
    flex-direction: column;
    align-items: center;
    button#btnAugm{
      @include styleBtnCalc;
    }
    .inputAugmentation{
      width: 700px;
      height: 50px;
      display: flex;
      justify-content: space-between;
      input{
        font-size: 1.8rem;
        color: rgb(61, 59, 59);
        width: 310px;
        text-align: center;
        padding: 5px 8px;
        border: none;
        border-radius: 10px;
      }
    }
    span{
      margin: 0% 0 50px 0;
      display: block;
      text-align: center;
      font-size: 4rem;
      font-weight: 700;
    }
    p{
      align-self: flex-start;
      margin-top: 70px;
      font-weight: bold;
      font-size: 2rem;
      input{
        opacity: 0.5;
        font-size: 1.8rem;
        color: rgb(61, 59, 59);
        width: 310px;
        text-align: center;
        padding: 5px 8px;
        border: none;
        border-radius: 10px;
      }
    }
  }
  .baisse{
    display: flex;
    flex-direction: column;
    align-items: center;
    button#btnBaisse{
      @include styleBtnCalc
    }
    margin-top: 30px;
    .inputBaisse{
      width: 700px;
      height: 50px;
      display: flex;
      justify-content: space-between;
      input{
        font-size: 1.8rem;
        color: rgb(61, 59, 59);
        width: 310px;
        text-align: center;
        padding: 5px 8px;
        border: none;
        border-radius: 10px;
      }
    }
    span{
      margin: 7% 0 50px 0;
      display: block;
      text-align: center;
      font-size: 4rem;
      font-weight: 700;
    }
    p{
      align-self: flex-start;
      margin-top: 70px;
      font-weight: bold;
      font-size: 2rem;
      input{
        font-size: 1.8rem;
        color: rgb(61, 59, 59);
        width: 310px;
        text-align: center;
        padding: 5px 8px;
        border: none;
        border-radius: 10px;
      }
    }
  }
  
}
.augm-baisse {
  background: $bgPages;
  .bordures{
    margin-top: 1%;
    padding: 3rem 5rem 5rem 5rem;
    border: 1px solid transparent;
    border-radius: 20px;
    box-shadow: 0px 0px 25px rgb(0, 0, 0);
    background: rgb(193, 220, 243);
  }
  hr{
    margin: 60px 0 0 0;
  }
}
.variation {
  background: $bgPages;
  p.titre{
    margin-top: 7%;
    font-weight: 700;
    font-size: 2rem;
    text-align: center;
    margin-bottom: 130px;
    line-height: 2.7rem;
    letter-spacing: 0.07rem;
  }
  p.resultat{
    font-weight: 500;
    font-size: 1.8rem;
    text-align: center;
    margin-top: 130px;
  }
  .bordures{
    display: flex;
    flex-direction: column;
    align-items: center;
    button#btnVariation{
    @include styleBtnCalc
    }
    width: 45%;
    height: 80%;
    margin-top: 3%;
    padding: 3rem 5rem 5rem 5rem;
    border: 1px solid transparent;
    border-radius: 20px;
    box-shadow: 0px 0px 25px rgb(0, 0, 0);
    background: rgb(193, 220, 243);
  }
  .inputs{
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  input{
    font-size: 1.8rem;
    color: rgb(61, 59, 59);
    width: 310px;
    text-align: center;
    padding: 5px 8px;
    border: none;
    border-radius: 10px;
  }
}
.pourcEnNb {
  background: $bgPages;
  p.titre{
    margin-top: 7%;
    font-weight: 700;
    font-size: 2rem;
    text-align: center;
    margin-bottom: 130px;
    line-height: 2.7rem;
    letter-spacing: 0.07rem;
  }
  p.resultat{
    font-weight: 500;
    font-size: 1.8rem;
    text-align: center;
    margin-top: 130px;
    input{
      width: 100px;
    }
  }
  .bordures{
    display: flex;
    flex-direction: column;
    align-items: center;
    button#btnPourcEnNb{
    @include styleBtnCalc
    }
    width: 45%;
    height: 80%;
    margin-top: 3%;
    padding: 3rem 5rem 5rem 5rem;
    border: 1px solid transparent;
    border-radius: 20px;
    box-shadow: 0px 0px 25px rgb(0, 0, 0);
    background: rgb(193, 220, 243);
  }
  .inputs{
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  input{
    font-size: 1.8rem;
    color: rgb(61, 59, 59);
    width: 310px;
    text-align: center;
    padding: 5px 8px;
    border: none;
    border-radius: 10px;
  }
}
.nbEnPourc {
  background: $bgPages;
  p.titre{
    margin-top: 7%;
    font-weight: 700;
    font-size: 2rem;
    text-align: center;
    margin-bottom: 130px;
    line-height: 2.7rem;
    letter-spacing: 0.07rem;
  }
  p.resultat{
    font-weight: 500;
    font-size: 1.8rem;
    text-align: center;
    margin-top: 130px;
    input{
      width: 150px;
    }
  }
  .bordures{
    display: flex;
    flex-direction: column;
    align-items: center;
    button#btnNbEnPourc{
    @include styleBtnCalc
    }
    width: 45%;
    height: 80%;
    margin-top: 3%;
    padding: 3rem 5rem 5rem 5rem;
    border: 1px solid transparent;
    border-radius: 20px;
    box-shadow: 0px 0px 25px rgb(0, 0, 0);
    background: rgb(193, 220, 243);
  }
  .inputs{
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  input{
    font-size: 1.8rem;
    color: rgb(61, 59, 59);
    width: 310px;
    text-align: center;
    padding: 5px 8px;
    border: none;
    border-radius: 10px;
  }
}

